<script src="/static/js/auth.js?v=<%= assetV %>"></script>
<script src="/static/js/api.js?v=<%= assetV %>"></script>
<script src="/static/js/ui.js?v=<%= assetV %>"></script>
<script src="/static/js/worker-resolver.js?v=<%= assetV %>"></script>
<script src="/static/js/chat-nav.js?v=<%= assetV %>"></script>
<script src="/static/js/job-nav.js?v=<%= assetV %>"></script>
<script src="/static/js/job-helpers.js?v=<%= assetV %>"></script>
<% if (typeof pageScript !== 'undefined' && pageScript) { %>
  <script src="/static/js/pages/<%= pageScript %>.js?v=<%= assetV %>"></script>
<% } %>
</body>
</html>
